

    .header {
        padding-top: 56px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__img {
        margin-right: 12px;
    }

    .header__logo-name {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        color: #233348;
    }

    .main-nav__list { 
        display: flex;
        justify-content: space-between;
    }
            
    .main-nav__item {
        margin-right:40px ;       

     .main-nav__item:last-of-type {
        margin-right: 0;
    }
    } 

    .main-nav__link {
        font-size: 18px;
        line-height: 1.28;
        color: #233348;    
    }

    .main-nav__link--bold {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.28;
        color: #233348;
    }