
.virtual-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 192px;    
}

.virtual-services__img {
    margin-left: 110px;
}

    
.virtual-services__title {
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    line-height: 1.17;
    color: #000000;
    margin-bottom: 25px;
}

.virtual-services__text {
    font-weight: 300;
     font-size: 21px;
     font-style: normal;
     line-height: 1.52;
     color: #7D7987;
     margin-bottom: 45px;
}


